= content_for :title do
  Video 
= render 'shared/top_nav'
%form.custom
  .row
    .large-12.columns
      .row 
        .large-4.columns
          %input{type: "text", name: 'Search '}
        .large-4.columns
          %select{name: "search_engine"}
            %option
              Youtube
            %option
              DailyMotion
            %option
              Vimeo
        .large-4.columns
          %a{href: "#", class: "button expand"}  
            Search Video 
