= yield :index_page_template
= content_for :title do
  Entertainment 

= render 'shared/top_nav'
.row
  .large-12.columns
    .panel
      %h1
        Beautiful Actress in The World
= content_for :js do
  :javascript 
    $(document).ready(function(){
      var request = $.ajax({
                      url: "/",
                      dataType: "json"
                    });
      request.done(function(data) {
        console.log("sanjiv");
        contents = data["contents"]
        console.log(contents);
        source = $('#index_page_template').html()
        template = Handlebars.compile(source)
        html_data = template({contents: contents})
        $('nav.top-bar').next().after(html_data)    
      });    
    })              
          
      
           
    
